<div class="cart-top container-fluid">
    <div class="container d-flex">
        <div class="items">
            <a>
                <img src="../../../assets/Products-and-Services.png" alt="no image" width=70 length=70>
                <h6>All Products</h6>
            </a>
            
        </div>
        <div class="items">
        <a>
            <img src="../../../assets/electrical-electronic-1550471706-4727918.jpeg"
                alt="no image" width=100 length=100>
                <h6>Electronics</h6>
        </a>
        
        </div>
        <div class="items">
        <a>
            <img src="../../../assets/pexels-ksenia-chernaya-3965543.jpg"
                alt="no image" width=100 length=100>
                <h6>Fashion</h6>
        </a>
        
        </div>
        <div class="items">
            <a>
                <img src="../../../assets/officespace_3.jpg" alt="no image" width=100 length=100>
                <h6>Furniture</h6>
            </a>
            
        </div>
    </div>
</div>
