<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
            <div class="navbar-brand align-item-center d-flex">
                <i style="font-size: 35px;" class="fa-solid fa-truck-fast"></i>
                    <strong style="font-size: 30px;">E-cart</strong>
                <div class="form-group">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2  srch" type="search" placeholder="Search Products" aria-label="Search">
                    </form>
                </div>
                <span><i class="fa-solid fa-magnifying-glass srchico"></i></span>
            </div>
            <button type="button" class="btn btn-primary">
                <i class="fa-solid fa-cart-plus cartico"></i>
            <i class="fa-regular fa-badge bg-danger"></i>
            </button>
    </div>
</header>
